* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(245, 56, 128, 0.678);
}


html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  height: 100vh;
  color: #fafaff;
  background-color: #ffffff;
}


a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

.nav-bar {
  background-color: none;
  font-size: 0.8em;
   
  position: fixed;
  height: 2em;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
}

.nav-bar li {
  list-style: none;
}

.nav-bar a {
  color: #424242;
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.nav-bar a:active,
.nav-bar a:hover {
  background-color: rgba(245, 79, 143, 0.678);
  color: #fafaff;
}

a {
  color: rgba(245, 79, 143, 0.678);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
  position: relative;
  padding-top: 20rem;
  
}

.cd-intro {
  margin: 0em auto;
  
}

.cd-headlinetitle {
  font-size: 9rem;
  line-height: 1.2;
  width: 100%;
  text-align: center;
}
.cd-headline {
  font-family: 'Cutive Mono', monospace;
  font-size: 10rem;
  line-height: 1.8em;
  letter-spacing: 0.2px;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 2rem;
    line-height: 1.8em;
    letter-spacing: 0.2px;
  }
}

.about,
.contact,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.about h2,
.contact h2,
.portfolio h2 {
  font-family: "Open Sans", sans-serif;
  color: rgb(61, 61, 61);
  margin-bottom: 1em;
  font-size: 3em;
  padding-top: 5rem;
}

.about p {
  font-family: 'Cutive Mono', monospace;
  font-size: 2rem;
  color: #212121;
  text-indent: 1.4em;
  margin-bottom: 2em;
  text-align: unset;
}

.about a {
  color: rgba(245, 79, 143, 0.678);
  text-decoration: underline;
}

.about a:hover {
  background-color: cyan;
  text-decoration: none;
  color: magenta;
}

.about .avatar {
  clip-path: circle(38% at 50% 50%);
  margin-left: 10em;
}

@media (min-width: 300px) {
  .about .avatar {
    clip-path: circle(38% at 50% 50%);
    float: right;
  }
}

.contact .icons {
  text-align: center;
}

.contact a {
  color: rgb(24, 23, 23);
  font-size: 5em;
  transition: text-shadow 1s;
}

.contact a:active,
.contact a:hover {
  text-decoration: none;
  font-size: 5.5em;
  text-shadow: 0px 0px 30px rgba(250, 0, 217, 0.76);
}

footer,
footer textarea{
    font-family: Helvetica, sans-serif;
    color: rgb(24, 23, 23);
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

footer a {
    color: rgb(24, 23, 23);
}
